@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
body {font-family: 'Noto Sans KR', sans-serif;background:transparent;font-size:1.2em;color:#e1e1e1;}
h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans KR', sans-serif;}
input, button {font-family: 'Noto Sans KR', sans-serif;}
textarea, select {font-family: 'Noto Sans KR', sans-serif;}
select{background-color:#2a3241 !important;color:#aaa;border:1px solid #2a3241;}
.required{background: url(../../img/wrest.png) top right no-repeat #2a3241 !important}
input[type="text"],input[type="url"],input[type="number"],input[type="password"],input[type="email"],textarea{background:#313a48 !important;color:#bbb !important;border:1px solid #4e596e !important;}
a{color:#aaa;}
a:link,a:visited{color:#bbb;}
a:hover{color:#fff;}
input[type="checkbox"]{-webkit-font-smoothing: antialiased;text-rendering: optimizeSpeed;position: relative;height:15px;line-height:15px;}
input[type="checkbox"]:before{content: "";position: absolute;width:100%;height:100%;left:0;top:0;-webkit-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;-moz-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;background: #555555;}
input[type="checkbox"]:checked:before{-webkit-box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;-moz-box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;background:#1f4fa8;}
input[type="checkbox"]:checked:after{font-family:FontAwesome;position:absolute;content:'\f00c';color:#fff;width:100%;height:100%;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#bbbbbb;}
input::-moz-input-placeholder,textarea::-moz-input-placeholder{color:#bbbbbb;}
input::-ms-input-placeholder,textarea::-ms-input-placeholder{color:#bbbbbb;}
input::-o-input-placeholder,textarea::-o-input-placeholder{color:#bbbbbb;}

ul{margin:0;padding:0;list-style-type:none;}

p {margin:0;padding:0;word-break:break-all;}


html{height:100%;}
body {/*background-color:#1f1f20;*/height:100%;}
.box {position:relative;height:100%;}
.box_header {color:#dfdfdf;position:absolute;top:0;left:0;width:100%;z-index:10;}
.box_header .title_main{font-size:4em;font-weight:700;height:1em;line-height:1em;}
.box_body {color:white;text-align: center;border:0px solid red;height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.box_body span {color:#c3c393;font-size:9em;font-weight:700;}
.box_body p {color:#c3c393;font-size:9em;font-weight:700;border:0px solid red;}
.box_body p.now {}
.box_body p.goal {font-size:5em;}
.box_footer {position:fixed;bottom:0;width:100%;color:#9c9c9c;text-align:center;padding:2px 0px 10px;border:0px solid blue;}
.box_footer:after {display:block;visibility:hidden;clear:both;content:'';}


@keyframes redCallChange{
    0% {
        background-color: transparent;
    }
    100% {
        background-color:#d50606;
    }
}